/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************Custom CSS*************/

body{
	background-color: #f2c39f;
	font-family:sweet-sans-pro,sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #f3e2d0;
	text-align: center;
	display:block;
}

header,
footer{
	background-color: #a01c20;

}

/*************Header*************/

.topnav{
	text-align: left;
    padding: 20px;
}

.hamburger{
	color:#f2c39f;
	font-size:2em;
}

.topnav-menu{
	display:none;
	position: absolute;
	background-color: #2e330a;
	z-index:1;
}

.topnav-menu a{
	text-decoration: none;
	padding: 12px 16px;
	color:#f3e2d0;
	display: block;
	text-align: center;
}

.topnav-menu a:hover{
	background-color:#710f11;
}

.topnav:hover .topnav-menu{
	display:block;
}

header nav{
	display: none;
}

.cart_icon{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.75em;
	padding:20px;
}

.flower_logo{
	max-width:150px;
	position: absolute;
	top: 10px;
	left: 30%;
	z-index: 10;
}

.poppy_logo{
	max-width:300px;
	padding-top: 10px;
}

  
/*************Footer*************/

footer li {
	display: inline;
}

footer nav a{
	text-decoration:none;
	color:#f3e2d0;
	font-size:.75em;
}

.copy_created{
	font-size:.75em;
	padding:10px;
}

.cc_icons,
.sm_icons{
	font-size:1.5em;
	padding:10px;
}

footer ul{
	padding:10px;
}

/*************Homepage*************/

img[src="images/flowers_home.png"] {
	display:none;
}

.home section{
	color:#2e330a;
	padding-bottom:50px;
}

h1{
	padding:20px;
	font-size:1.2em;
}

h2{
	font-size:1em;
	padding:0 30px;
	font-style: italic;
}

main div a{
	text-decoration:none;
	color:#f3e2d0;
	background-color:#710f11;
	border:10px solid #f2a443;
	border-radius:5px;
	padding:20px;
}

main div a:hover{
	background-color:#a01c20;
}

main div a:active{
	background-color: #2e330a;
}

main img[src="images/flowers_mobile.png"] {
	width: 100%;
	padding-top: 50px;
}

/*************About Page*************/

.about h1{
	color:#710f11;
}

.about article{
	background-color:#2e330a;
	color:#f3e2d0;
	margin-bottom: 20px;
}

.about aside img{
	border:5px solid #f3e2d0;
	border-radius:200px;
	padding:0px;
	max-width:200px;
}

.about figcaption{
	font-size:.75em;
	padding-bottom:10px;
}

.about h2{
	padding:10px;
}

.about p{
	padding:10px 10px 20px 10px;
}

.about section{
	margin: 0 auto 50px;
}

/*************Shop Page*************/

.shop h1,
.shop h2{
	color:#710f11;
}

.shop h2{
	margin:20px auto;
}

.shop h3{
	color:#2e330a;
	margin-bottom:20px;
}

.shop a{
	text-decoration:none;
	color:#f3e2d0;
	background-color:#710f11;
	border: 5px solid #f2a443;
	border-radius:5px;
	display:block;
	margin: 10px auto;
	max-width: 200px;
}

.shop a:hover{
	background-color:#a01c20;
}

.shop a:active{
	background-color: #2e330a;
}

.shop figure a{
	background: none;
	border: none;
	display:inline;
}

.shop figure a:hover{
	background: none;
}

.shop_wall_items img,
.shop_garden_items img{
	background-color:#f3e2d0;
	padding:10px;
	margin:10px;
	max-width:200px;
	border: #f3e2d0 solid 2px;
	border-radius: 5px;
}
.shop figcaption{
	background-color: #a01c20;
	padding: 20px;
	max-width:180px;
	margin:0 auto 30px;
	border:#710f11 solid 2px;
	border-radius:5px;
}


/*************FAQ Page*************/

.faq h1,
.faq details,
.faq summary{
	color:#710f11;
}

.faq summary{
	font-size:1.2em;
	padding-bottom: 10px;
}

.faq details{
	padding: 20px;
	text-align:left;
}

.faq .last_detail{
	padding-bottom:50px;
}



/*************Media Queries*************/

@media screen and (min-width:320px){
	body{
		width:100%
	}

	.about figure{
		background: #2e330a;
		padding: 10px 0 0 0;
	}

	.about h2,
	.about p{
		text-align:center;
	}
	
}

@media screen and (min-width:576px){
	.flower_logo{
		left: 35%;
	}

	.about article{
		width:100%;
		padding: 20px 0;
		margin: 20px auto;
	}

	.about aside{
		width: 50%;
		float: left;
		margin: 10px auto;
	}

	.about figure{
		padding:0;
		height:200px;
	}

	.about figcaption{
		color:#f3e2d0;
	}

	.about p{
		margin:20px;
		text-align: left;
	}

	.about h2{
		text-align: left;
	}
}

/*THIS SHOULD BE TWO COLUMNS NOW and Remove Hamburger Nav*/
@media screen and (min-width:768px){

	.topnav{
		display:none;
	}

	.poppy_logo{
		position: absolute;
		top: 10px;
		left: 5px;
		width: 25%;
		padding:0;
	}

	.flower_logo{
		max-width:200px;
		position:static;
		padding: 10px 0;
	}

	img[src="images/flowers_mobile.png"] {
		display:none;
	}

	img[src="images/flowers_home.png"] {
		display: inline-block;
		width: 100%;
		margin: 50px auto 0;
	}
	header{
		margin:0 auto;
		background: #a01c20;
	}

	header nav{
		background-color:#f3e2d0;
		padding:20px;
		display:inherit;
	}

	header nav li{
		display:inline;
	}

	header nav a{
		text-decoration:none;
		color:#f3e2d0;
		margin:0 auto;
		text-align: center;
		background:#2e330a;
		border-radius:5px;
		padding:5px 30px;
	}

	header nav a:hover{
		background-color:#710f11;
	}

	header nav a:active{
		background-color: #f2c39f;
		color:#710f11;
	}

	.cc_icons,
	.sm_icons{
		padding:0;
	}

	.cc_icons{
		font-size:1.5em;
		float:left;
		width:20%;
	}

	.sm_icons{
		font-size:2em;
		float: left;
		width:60%;
	}

	.copy_created{
		font-size:.75em;
		width: 20%;
		margin: -10px 0 0 auto;
	}

	footer nav a{
		padding:7px;
	}

	footer h3{
		font-size: 1.3em;
		padding-bottom: 10px;
	}

	footer h4{
		font-size: 1.2em;
	}

	footer nav ul{
		padding-bottom: 5px;
	}

	.shop figure{
		width:48%;
		display:inline-block;
	}

	.about article{
		max-width: 63%;
		padding: 20px;
		margin: 20px auto 50px;
	}

	.about aside{
		width: 50%;
		float: left;
		margin: 20px auto;
	}

	.about section{
		background-image: url("../images/poppies_field.jpg");
		background-position: top;
		background-size: 100%;
	}

	.about figure{
		margin-left:100px;
		background:none;
	}

	.faq details{
		margin: 0 auto;
		max-width: 590px;
	}
}

/*THIS SHOULD BE THREE COLUMNS NOW*/
@media screen and (min-width:992px){

	.shop figure{
		width: 33%;
	}

	.shop a{
		display: inline-block;
		padding: 10px 20px;
		margin: 10px;
	}

	.shop figure a{
		padding:0;
		margin:0;
	}

	.shop h2{
		font-size:1.2em;
	}

	.shop h3{
		margin: 20px;
		font-size: 1.3em;
		padding: 20px;
	}

	.flower_logo{
		padding: 20px;
	}
	
	footer nav a{
		font-size: 1em;
	}

	footer nav ul{
		padding-bottom: 20px;
	}

	.about article{
		max-width: 57%;
		padding: 20px 0 50px;
	}

	.about aside{
		max-width:50%;
	}

	.about figure{
		float: right;
		margin: 0 10%;
	}
}

@media screen and (min-width:1200px) {
	footer{
		padding: 5px 50px 20px;
	}
	
}